<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>电影推荐系统</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  	<!-- jquery -->
	<script type="text/javascript" src="../static/js/3rd/jquery.js"></script>
	<!-- angularJS -->
	<script type="text/javascript" src="../static/js/3rd/angular.min.js"></script>
	<!-- bootstrap-material-design -->
	<link rel="stylesheet" type="text/css" href="../static/css/3rd/bootstrap-material-design.css">
    <script type="text/javascript" src="../static/js/3rd/material.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/3rd/ripples.min.css">
  	<script type="text/javascript" src="../static/js/3rd/ripples.min.js"></script>

	<link rel="stylesheet" href="../static/css/global.css">
	<link rel="stylesheet" href="../static/css/home.css">

	<script type="text/javascript" src="../static/js/md5.js"></script>
  	<script type="text/javascript" src="../static/js/global.js"></script>
  	<script type="text/javascript" src="../static/js/post.js"></script>
	<script type="text/javascript" src="../static/js/home.js"></script>

</head>

<body>
	<!-- 导航栏 -->
	
	<article class="container">
		<div ng-app="myApp" ng-controller="myCtrl"> 
			<ul>
			  <li ng-repeat="movie in data">
			    <h1><span class="name">{{movie.title}}&nbsp;&nbsp;({{movie.aka[0]}})</span>&nbsp;&nbsp;<span class="year">{{movie.year}}</span></h1>
				<div class="clearfix">
					<div class="main-pic">
						<img src={{movie.images.large}} alt={{movie.title}}>
					</div>
					<div class="info">
						<span>豆瓣评分:&nbsp;</span>
						<br>
						<strong class="score">{{movie.rating.average}}</strong>
						<br/>
						<span>标签:&nbsp;</span>
						<span ng-repeat="label in movie.genres">{{label}}&nbsp;&nbsp;</span>
						<br/>
						<span>制片国家/地区:&nbsp;</span>
						<span ng-repeat="country in movie.countries">{{country}}&nbsp;&nbsp;</span>
						<br>
					</div>
				</div>
				<div class="intro">
					{{movie.summary}}
				</div>
			  </li>
			</ul>
			
		</div>
	</article>

	<!-- 低栏部分 -->
	<footer>
		<div class="bottom-name">
		<a href="/index">电影推荐系统</a></div>
		<div class="bottom-remark">2016 SouthEast University</div>
	</footer>
</body>
<script>
   $(function() {
     $.material.init();
   });
</script>
</html>