.name{
	font-size: 1.4em;
}

.main-pic img{
	max-width: 150px;
	
}

.main-pic{
	float: left;
}

.info{
	margin-left: 180px;
}

.score{
	font-size: 1.8em;
}

.intro{
	line-height: 1.5;
	text-indent: 2em;
	margin-top: 20px;
}

.video{
	margin-top: 10px;
}

.video-link{
	line-height: 1.5;
}

.video-link:hover{
	text-decoration: underline;
}